
./AccesoADatos_REST/bin/Debug/netcoreapp3.1/DAOs/Connection/connectionProperties.json
.vscode
./AccesoADatos_REST/DAOs/Connection/connectionProperties.json

APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.deps.json
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/obj/Covid_REST.csproj.nuget.dgspec.json
APIs/Covid_API/obj/Covid_REST.csproj.nuget.g.props
APIs/Covid_API/obj/project.assets.json
APIs/Covid_API/obj/project.nuget.cache
APIs/Covid_API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.assets.cache
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csproj.CoreCompileInputs.cache
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csproj.FileListAbsolute.txt
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csprojAssemblyReference.cache
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.genruntimeconfig.cache
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/obj/Debug/netcoreapp3.1/project.razor.json
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/API_DAO
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/API_DAO.deps.json
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/API_DAO.dll
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/API_DAO.pdb
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/DAOs/Connection/connectionProperties.json
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.AssemblyInfo.cs
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.AssemblyInfoInputs.cache
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.assets.cache
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.csproj.CoreCompileInputs.cache
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.csproj.FileListAbsolute.txt
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.csprojAssemblyReference.cache
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.dll
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.genruntimeconfig.cache
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.pdb
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/project.razor.json
APIs/Security_API/bin/Debug/netcoreapp3.1/API_Security
APIs/Security_API/bin/Debug/netcoreapp3.1/API_Security.deps.json
APIs/Security_API/bin/Debug/netcoreapp3.1/API_Security.dll
APIs/Security_API/bin/Debug/netcoreapp3.1/API_Security.pdb
APIs/Security_API/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.assets.cache
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.csproj.CoreCompileInputs.cache
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.csproj.FileListAbsolute.txt
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.csprojAssemblyReference.cache
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.dll
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.genruntimeconfig.cache
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.pdb
APIs/Security_API/obj/Debug/netcoreapp3.1/project.razor.json
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/bin/Release/netcoreapp3.1/appsettings.Development.json
APIs/Covid_API/bin/Release/netcoreapp3.1/appsettings.json
APIs/Covid_API/bin/Release/netcoreapp3.1/Covid_REST
APIs/Covid_API/bin/Release/netcoreapp3.1/Covid_REST.deps.json
APIs/Covid_API/bin/Release/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/bin/Release/netcoreapp3.1/Covid_REST.runtimeconfig.dev.json
APIs/Covid_API/bin/Release/netcoreapp3.1/Covid_REST.runtimeconfig.json
APIs/Covid_API/bin/Release/netcoreapp3.1/Microsoft.AspNetCore.Authentication.JwtBearer.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.JsonWebTokens.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Logging.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Protocols.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/Microsoft.IdentityModel.Tokens.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/Newtonsoft.Json.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/System.IdentityModel.Tokens.Jwt.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/Properties/launchSettings.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/appsettings.Development.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/appsettings.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Covid_REST
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Covid_REST.deps.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Covid_REST.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Covid_REST.pdb
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Covid_REST.runtimeconfig.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/CoVid.deps.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/CoVid.runtimeconfig.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Microsoft.AspNetCore.Authentication.JwtBearer.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Microsoft.IdentityModel.JsonWebTokens.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Microsoft.IdentityModel.Logging.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Microsoft.IdentityModel.Protocols.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Microsoft.IdentityModel.Protocols.OpenIdConnect.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Microsoft.IdentityModel.Tokens.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/Newtonsoft.Json.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/System.IdentityModel.Tokens.Jwt.dll
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/web.config
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/publish/appsettings.Development.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/publish/appsettings.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/publish/CoVid.deps.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/publish/CoVid.runtimeconfig.json
APIs/Covid_API/bin/Release/netcoreapp3.1/publish/publish/web.config
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csproj.FileListAbsolute.txt
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csprojAssemblyReference.cache
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.AssemblyInfo.cs
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.AssemblyInfoInputs.cache
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.assets.cache
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.csproj.CopyComplete
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.csproj.CoreCompileInputs.cache
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.csproj.FileListAbsolute.txt
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.csprojAssemblyReference.cache
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.genruntimeconfig.cache
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.MvcApplicationPartsAssemblyInfo.cache
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/obj/Release/netcoreapp3.1/Covid_REST.RazorTargetAssemblyInfo.cache
APIs/Covid_API/obj/Release/netcoreapp3.1/staticwebassets/Covid_REST.StaticWebAssets.Manifest.cache
APIs/Covid_API/obj/Release/netcoreapp3.1/staticwebassets/Covid_REST.StaticWebAssets.xml
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csproj.FileListAbsolute.txt
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csprojAssemblyReference.cache
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/bin/Debug/netcoreapp3.1/Covid_REST.pdb
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csproj.FileListAbsolute.txt
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.csprojAssemblyReference.cache
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.dll
APIs/Covid_API/obj/Debug/netcoreapp3.1/Covid_REST.pdb
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/API_DAO.dll
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/API_DAO.pdb
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/DAOs/Connection/connectionProperties.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/API_DAO
APIs/DataAccess_API/bin/Release/netcoreapp3.1/API_DAO.deps.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/API_DAO.dll
APIs/DataAccess_API/bin/Release/netcoreapp3.1/API_DAO.pdb
APIs/DataAccess_API/bin/Release/netcoreapp3.1/API_DAO.runtimeconfig.dev.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/API_DAO.runtimeconfig.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/appsettings.Development.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/appsettings.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/Newtonsoft.Json.dll
APIs/DataAccess_API/bin/Release/netcoreapp3.1/Npgsql.dll
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/Connection/connectionProperties.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/createTables_Unix_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/createTables_Windows_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createCountriesTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createDatesTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createGeoZone_Name_CovidDataTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createGeoZoneTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createKeysTable.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createUsersTable.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertCountriesTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertDatesTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertGeoZone_Name_CovidDataTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertGeoZoneTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/selectTables_Unix_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/selectTables_Windows_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectAllDates.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectCountry.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectFromCountries.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectFromGeoNameTableBetweenDates.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectIDFromDates.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/Processes/InitialCreateTables/createTables_Unix_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/Processes/InitialCreateTables/createTables_Windows_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/Processes/InitialDataInsertion/insertData_Unix_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/Processes/InitialDataInsertion/insertData_Windows_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/Properties/launchSettings.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/API_DAO
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/API_DAO.deps.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/API_DAO.dll
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/API_DAO.pdb
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/API_DAO.runtimeconfig.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/appsettings.Development.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/appsettings.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/aws-windows-deployment-manifest.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/Newtonsoft.Json.dll
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/Npgsql.dll
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/web.config
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/Connection/connectionProperties.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/createTables_Unix_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/createTables_Windows_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createCountriesTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createDatesTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createGeoZone_Name_CovidDataTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createGeoZoneTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createKeysTable.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createUsersTable.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertCountriesTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertDatesTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertGeoZone_Name_CovidDataTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertGeoZoneTableQuery.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/selectTables_Unix_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/selectTables_Windows_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectAllDates.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectCountry.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectFromCountries.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectFromGeoNameTableBetweenDates.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/SelectTableQueriesJSONs/selectIDFromDates.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/Processes/InitialCreateTables/createTables_Unix_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/Processes/InitialCreateTables/createTables_Windows_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/Processes/InitialDataInsertion/insertData_Unix_Paths.json
APIs/DataAccess_API/bin/Release/netcoreapp3.1/publish/Processes/InitialDataInsertion/insertData_Windows_Paths.json
APIs/DataAccess_API/DAOs/Connection/connectionProperties.json
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.AssemblyInfo.cs
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.csproj.FileListAbsolute.txt
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.csprojAssemblyReference.cache
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.dll
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.pdb
APIs/DataAccess_API/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.AssemblyInfo.cs
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.AssemblyInfoInputs.cache
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.assets.cache
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.csproj.CopyComplete
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.csproj.CoreCompileInputs.cache
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.csproj.FileListAbsolute.txt
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.csprojAssemblyReference.cache
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.dll
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.genruntimeconfig.cache
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.MvcApplicationPartsAssemblyInfo.cache
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.pdb
APIs/DataAccess_API/obj/Release/netcoreapp3.1/API_DAO.RazorTargetAssemblyInfo.cache
APIs/DataAccess_API/obj/Release/netcoreapp3.1/staticwebassets/API_DAO.StaticWebAssets.Manifest.cache
APIs/DataAccess_API/obj/Release/netcoreapp3.1/staticwebassets/API_DAO.StaticWebAssets.xml
APIs/Security_API/Dockerfile
APIs/Security_API/bin/Debug/netcoreapp3.1/API_Security.dll
APIs/Security_API/bin/Debug/netcoreapp3.1/API_Security.pdb
APIs/Security_API/bin/Debug/netcoreapp3.1/DAOs/Connection/connectionProperties.json
APIs/Security_API/bin/Debug/netcoreapp3.1/Security/DataManager/EncryptedNames/names.json
APIs/Security_API/bin/Release/netcoreapp3.1/API_Security
APIs/Security_API/bin/Release/netcoreapp3.1/API_Security.deps.json
APIs/Security_API/bin/Release/netcoreapp3.1/API_Security.dll
APIs/Security_API/bin/Release/netcoreapp3.1/API_Security.pdb
APIs/Security_API/bin/Release/netcoreapp3.1/API_Security.runtimeconfig.dev.json
APIs/Security_API/bin/Release/netcoreapp3.1/API_Security.runtimeconfig.json
APIs/Security_API/bin/Release/netcoreapp3.1/appsettings.Development.json
APIs/Security_API/bin/Release/netcoreapp3.1/appsettings.json
APIs/Security_API/bin/Release/netcoreapp3.1/Newtonsoft.Json.dll
APIs/Security_API/bin/Release/netcoreapp3.1/Npgsql.dll
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/Connection/connectionProperties.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createTableColumnsQuery.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertQueryColumns.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/PathsFiles/createTables_Unix_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/PathsFiles/createTables_Windows_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/PathsFiles/insertQueries_Unix_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/PathsFiles/insertQueries_Windows_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/PathsFiles/selectQueries_Unix_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/PathsFiles/selectQueries_Windows_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/selectAllFromTable.json
APIs/Security_API/bin/Release/netcoreapp3.1/DAOs/SelectTableOperations/selectColumnWhere.json
APIs/Security_API/bin/Release/netcoreapp3.1/Properties/launchSettings.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/API_Security
APIs/Security_API/bin/Release/netcoreapp3.1/publish/API_Security.deps.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/API_Security.dll
APIs/Security_API/bin/Release/netcoreapp3.1/publish/API_Security.pdb
APIs/Security_API/bin/Release/netcoreapp3.1/publish/API_Security.runtimeconfig.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/appsettings.Development.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/appsettings.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/Newtonsoft.Json.dll
APIs/Security_API/bin/Release/netcoreapp3.1/publish/Npgsql.dll
APIs/Security_API/bin/Release/netcoreapp3.1/publish/web.config
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/Connection/connectionProperties.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/CreateTableOperations/CreateTableQueriesJSONs/createTableColumnsQuery.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/InsertTableOperations/InsertTableQueriesJSONs/insertQueryColumns.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/PathsFiles/createTables_Unix_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/PathsFiles/createTables_Windows_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/PathsFiles/insertQueries_Unix_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/PathsFiles/insertQueries_Windows_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/PathsFiles/selectQueries_Unix_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/PathsFiles/selectQueries_Windows_Paths.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/selectAllFromTable.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/DAOs/SelectTableOperations/selectColumnWhere.json
APIs/Security_API/bin/Release/netcoreapp3.1/publish/Security/DataManager/EncryptedNames/names.json
APIs/Security_API/bin/Release/netcoreapp3.1/Security/DataManager/EncryptedNames/names.json
APIs/Security_API/DAOs/Connection/connectionProperties.json
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.csproj.FileListAbsolute.txt
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.csprojAssemblyReference.cache
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.dll
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.pdb
APIs/Security_API/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.AssemblyInfo.cs
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.AssemblyInfoInputs.cache
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.assets.cache
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.csproj.CopyComplete
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.csproj.CoreCompileInputs.cache
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.csproj.FileListAbsolute.txt
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.csprojAssemblyReference.cache
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.dll
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.genruntimeconfig.cache
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.MvcApplicationPartsAssemblyInfo.cache
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.pdb
APIs/Security_API/obj/Release/netcoreapp3.1/API_Security.RazorTargetAssemblyInfo.cache
APIs/Security_API/obj/Release/netcoreapp3.1/staticwebassets/API_Security.StaticWebAssets.Manifest.cache
APIs/Security_API/obj/Release/netcoreapp3.1/staticwebassets/API_Security.StaticWebAssets.xml
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/API_DAO.dll
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/API_DAO.pdb
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/DAOs/Connection/connectionProperties.json
APIs/DataAccess_API/DAOs/Connection/connectionProperties.json
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.AssemblyInfo.cs
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.csproj.FileListAbsolute.txt
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.csprojAssemblyReference.cache
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.dll
APIs/DataAccess_API/obj/Debug/netcoreapp3.1/API_DAO.pdb
APIs/Security_API/bin/Debug/netcoreapp3.1/API_Security.dll
APIs/Security_API/bin/Debug/netcoreapp3.1/API_Security.pdb
APIs/Security_API/bin/Debug/netcoreapp3.1/DAOs/Connection/connectionProperties.json
APIs/Security_API/DAOs/Connection/connectionProperties.json
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.csproj.FileListAbsolute.txt
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.csprojAssemblyReference.cache
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.dll
APIs/Security_API/obj/Debug/netcoreapp3.1/API_Security.pdb
APIs/DataAccess_API/bin/Debug/netcoreapp3.1/DAOs/Connection/connectionProperties.json
APIs/DataAccess_API/DAOs/Connection/connectionProperties.json
